ul.nav {
    position: fixed;
    width:80%;
    margin: auto;
    padding:0;
    list-style:none;
    background-color: black;
    text-align:center;
    font-family: sans-serif;
    color: yellow;
    alignment: center;
}

.nav li {
    display:inline-block;
    width:10%;
    margin:0;
    padding:0;
}

#logo {
    max-width:10%;
    max-height: 10%;
}

.header {
    background-color: black;
    text-align: center;
    padding-top: 0.5%;
}

.content{
    margin: auto;
}

.row {
}

.show{

}

.hide {
    display: none;
}

.playContent {

}

h1 {
    text-align: center;
}

#game_board{
    width: 900px;
    height: 430px;
    position: relative;
}

#arcade_machine{
    width: 117%;
    height: 117%;
    position: absolute;
    top: 0;
    left: 0;
}
.onArcadeMachine{
    position: relative;

}

#btn_new_game {
    font-family: fantasy;
    font-size: 13px;
    margin-left: 92%;
    width: 10%;
    margin-top: 7%;
    border: solid black 1px;
}

#canvas {
    position: relative;
    margin-left: 29.5%;
    margin-top: -7.5%;
    background-color: black;
    border: solid blue 14px;
    border-radius: 24px;

}
.sound_content{
    position: absolute;
    margin-top: -9%;
    width: 24%;
    margin-left: 3%;
    border: solid blue 2px;
    border-radius: 20px;
}

#music_video{
    position: absolute;
    margin-top: -9%;
    width: 24%;
    margin-left: 3%;
    border: solid blue 2px;
    border-radius: 20px;
}

.movement_img {
    border: solid red 5px;
    border-radius: 5px;
}

.confirmed_movement_img {
    border: solid green 5px;
    border-radius: 5px;
}


/*Login Sec**********************************************************************************/
/* Bordered form */
.log_show{
    /*position: inherit;*/
    text-align: left;
    color: white;
    /*color: black;*/
    background-color: black;
}
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar img_female_pacman inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar img_female_pacman */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

/*Register */
* {box-sizing: border-box}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity:1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

input.invalid, textarea.invalid{
    border: 2px solid red;
}

input.valid, textarea.valid{
    border: 2px solid green;
}
.error{
    display: none;
    margin-left: 10px;
}

.error_show{
    color: red;
    margin-left: 10px;
}

#game_details{
    background-color: yellow;
    color: darkblue;
    font-family: fantasy;
}
#game {
    margin-left: -5%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#section_contents{
    /*background-image: url("files/background.jpg");*/
    height: 100%;
    background-size: auto;
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}